<ul>
{% assign titles_by_title = site.pages | sort: "title" %}
{% assign pub = page.publication %}
{% assign page_title = page.title %}
{% for x in titles_by_title %}
    {% assign url_parts = x.url | split: '/' %}
    {% assign url_parts_size = url_parts | size %}
    {% assign rm = url_parts | last %}
    {% if x.url contains pub and x.url contains page.volume and rm contains "n0" %}
       <li> <a href="{{ rm }}">{{ x.month }} {{x.year}}, {{ x.issue_title }} </a></li>
    {% endif %}
{% endfor %}
</ul>